# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
*.xcworkspace
*.xcuserstate

# Android
android/.gradle/
android/captures/
android/.idea/
android/local.properties
android/build/

# Web
web/.dart_tool/
web/build/

# macOS
macos/Flutter/ephemeral/
macos/build/

# Windows
windows/Flutter/ephemeral/
windows/build/

# Linux
linux/Flutter/ephemeral/
linux/build/

# VS Code
.vscode/

# IntelliJ/Android Studio
.idea/
*.iml

# Others
*.log
*.lock
*.DS_Store
.env
